@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-wrapper">
    <h1>

        Administrar Trabajadores

    </h1>



    <h3>Ingresar Trabajador</h3>

    <div class="box-body">

        <h6 class="display-6"></h6>


        <br />


        <div class="col">
            <label>INGRESE EL RUT</label>
            <input type="text" class="form-control" id="rut_trabajador" name="rut_trabajador">

        </div>

        <div class="col">
            <label>DV TRABAJADOR</label>
            <input type="text" class="form-control" id="dv_trabajador" name="dv_trabajador">

        </div>

        <div class="col">

            <label>NOMBRES</label>
            <input type="text" class="form-control" id="nombres" name="nombres">

        </div>

        <div class="col">
            <label>APELLIDO PATERNO</label>
            <input type="text" class="form-control" id="ap_paterno" name="ap_paterno">
        </div>
        <div class="col">
            <label>APELLIDO MATERNO</label>
            <input type="text" class="form-control" id="ap_materno" name="ap_materno">
        </div>
        <div class="col">
            <label>INGRESE TELEFONO</label>
            <input type="text" class="form-control" id="trabajador_telefono" name="trabajador_telefono">
        </div>
        <div class="col">
            <label>INGRESE CORREO</label>
            <input type="text" class="form-control" id="trabajador_correo" name="trabajador_correo">
        </div>
        <div class="col">
            <label>INGRESE DIRECCION</label>
            <input type="text" class="form-control" id="trabajador_direccion" name="trabajador_direccion">
        </div>    
	<br>
        <br />
        <div class="btn-group">
            <div class="col">
                <button type="button" class="btn btn-block bg-gradient-danger btn-sm">Borrar</button>
            </div> &nbsp;&nbsp;&nbsp;&nbsp; <div class="col"> <button type="button" class="btn btn-block bg-gradient-success btn-sm">Crear</button></div>


        </div>
    </div>
 