@page
@{
}
<br>
<br />
<div class="btn-group">
    <div class="col">
        <button type="reset" class="btn btn-block bg-gradient-danger btn-lg">Borrar</button>
    </div> &nbsp;&nbsp;&nbsp;&nbsp; <div class="col"> <button type="button" class="btn btn-block bg-gradient-success btn-lg">Crear</button></div>


</div>