@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-wrapper">

    <h1>

        Administrar Distribuidor

    </h1>



    <h3>Borrar Distribuidor</h3>



    <div class="col">
        <label>RUT DISTRIBUIDOR </label>
        <input type="text" class="form-control" id="rut_distribuidor" name="rut_distribuidor">

    </div>

    <div class="col">
        <label>DV DISTRIBUIDOR</label>
        <input type="text" class="form-control" id="dv_distribuidor" name="dv_distribuidor">

    </div>

    <div class="col">

        <label>RAZON SOCIAL </label>
        <input type="text" class="form-control" id="razon_social" name="razon_social">

    </div>

    <div class="col">
        <label>DIRECCION</label>
        <input type="text" class="form-control" id="direccion" name="direccion">
    </div>
    <div class="col">
        <label>NUMERO DE TELEFONO</label>
        <input type="text" class="form-control" id="telefono" name="telefono">
    </div>

    <div class="col">
        <label>FECHA DE INICIO</label>
        <input type="text" class="form-control" id="fecha_inicio_act" name="fecha_inicio_act">
    </div>


    <br>
    <br />
    <div class="btn-group">
        <div class="col">
            <button type="reset" class="btn btn-block bg-gradient-danger btn-lg">Borrar</button>
        </div> &nbsp;&nbsp;&nbsp;&nbsp; <div class="col"> <button type="button" class="btn btn-block bg-gradient-success btn-lg">Editar</button></div>


    </div>
