@page
@{
}

<div class="content-wrapper">


<h1>

Administrar Autores

</h1>
<h1>

Crear Autores

</h1>
<form asp-controller="Autores" asp-action="CrearAutores" method="post">






    <div class="col">
        <label>CODIGO AUTOR</label>
        <input type="text" class="form-control" id="cod_autor" name="cod_autor">

    </div>

    <div class="col">
        <label>NOMBRE AUTOR</label>
        <input type="text" class="form-control" id="nombre_autor" name="nombre_autor">

    </div>

    <div class="col">

        <label>APELLIDO PATERNO</label>
        <input type="text" class="form-control" id="ap_paterno" name="ap_paterno">

    </div>

    <div class="col">
        <label>APELLIDO MATERNO</label>
        <input type="text" class="form-control" id="ap_materno" name="ap_materno">
    </div>
    
    <br />

    <div class="btn-group">
        <div class="col">
            <button type="button" class="btn btn-block bg-gradient-danger btn-sm">Borrar</button>
        </div> &nbsp;&nbsp;&nbsp;&nbsp; <div class="col"> <button type="submit" class="btn btn-block bg-gradient-success btn-sm">Crear</button></div>
    </div>




</form>

       

</div>


