@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-wrapper">

    <h1>

        Administrar Categoria

    </h1>



    <h3>Ingresar Nueva Categoria</h3>



    <div class="col">
        <label>CÓDIGO CATEGORIA </label>
        <input type="text" class="form-control" id="cod_categoria" name="cod_categoria">

    </div>

    <div class="col">
        <label>INGRESE NOMBRE CATEGORIA</label>
        <input type="text" class="form-control" id="categoria" name="categoria">

    </div>
    
    <div class="col">
        <label>ISBN</label>
        <input type="text" class="form-control" id="ISBN" name="ISBN">
    </div>
    <br />
    <div class="btn-group">
        <div class="col">
            <button type="button" class="btn btn-block bg-gradient-danger btn-sm">Borrar</button>
        </div> &nbsp;&nbsp;&nbsp;&nbsp; <div class="col"> <button type="submit" class="btn btn-block bg-gradient-success btn-sm">Crear</button></div>
    </div>

</div>
