@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-wrapper">

    <h1>

        Administrar Categoria

    </h1>



    <h3>Mostrar Categorias Libros</h3>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>CODIGO CATEGORIA</th>
                <th>CATEGORIA</th>
                <th>ISBN</th>
               

            </tr>
        </thead>
    </table>
</div>