@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
}
<div class="content-wrapper">

    <h1>

        Administrar Clientes

    </h1>



    <h3>Ingresar Cliente</h3>


    <div class="col">

        <label>ISBN </label>
        <input type="text" class="form-control" id="ISBN" name="ISBN">

    </div>


    <div class="col">
        <label>NÚMERO DE ORDEN</label>

        <input type="text" class="form-control" id="nro_orden" name="nro_orden">

    </div>


    <div class="col">
        <label>VALOR NETO</label>
        <input type="text" class="form-control" id="neto_compra" name="neto_comprao">
    </div>
    <div class="col">
        <label>IVA</label>
        <input type="text" class="form-control" id="iva_compra" name="iva_compra">
    </div>

    <div class="col">
        <label>CANTIDAD DE COMPRA</label>
        <input type="text" class="form-control" id="cantidad_comprac" name="cantidad_comprac">
    </div>
    <div class="col">
        <label>NÚMERO DE FACTURA</label>
        <input type="text" class="form-control" id="nro_factura" name="nro_facturae">
    </div>
    <div class="col">
        <label>INGRESE RUT DISTRIBUIDOR</label>
        <input type="text" class="form-control" id="rut_distribuidor" name="rut_distribuidor">
    </div>
    <div class="col">
        <label>INGRESE RUT DE TRABAJADOR</label>
        <input type="text" class="form-control" id="rut_trabajador" name="rut_trabajador">
    </div>
    <div class="col">
        <label>FECHA DE COMPRA</label>
        <input type="text" class="form-control" id="fecha_orden_hora" name="fecha_orden_hora">
    </div>
    <br />
    <div class="btn-group">
        <div class="col">
            <button type="button" class="btn btn-block bg-gradient-danger btn-sm">Borrar</button>
        </div> &nbsp;&nbsp;&nbsp;&nbsp; <div class="col"> <button type="submit" class="btn btn-block bg-gradient-success btn-sm">Crear</button></div>
    </div>

</div>




 
 
 
  
  