@page
@{
}
<div class="content-wrapper">

    <h1>

        Administrar Arriendo

    </h1>



    <h3>Borrar Arriendo</h3>



    <div class="col">
        <label>NUMERO DE ARRIENDO </label>
        <input type="text" class="form-control" id="nro_arriendo" name="nro_arriendo">

    </div>

    <div class="col">
        <label>FECHA DE ARRIENDO</label>
        <input type="text" class="form-control" id="fecha_arriendo" name="fecha_arriendo">

    </div>

    <div class="col">

        <label>RUT CLIENTE </label>
        <input type="text" class="form-control" id="rut_cliente" name="rut_cliente">

    </div>

    <div class="col">
        <label>NUMERO BOLETA</label>
        <input type="text" class="form-control" id="nro_boleta" name="nro_boleta">
    </div>
    <div class="col">
        <label>NUMERO DE SERIE</label>
        <input type="text" class="form-control" id="nro_serie" name="nro_serie">
    </div>

    <div class="col">
        <label>ISBN</label>
        <input type="text" class="form-control" id="ISBN" name="ISBN">
    </div>
    <div class="col">
        <label>NUMERO ARRIENDO</label>
        <input type="text" class="form-control" id="nro_arriendo" name="nro_arriendo">
    </div>
    <div class="col">
        <label>RUT TRABAJADOR</label>
        <input type="text" class="form-control" id="rut_arriendo" name="rut_arriendo">
    </div>
    <div class="col">
        <label>MULTA</label>
        <input type="text" class="form-control" id="mutla" name="multa">
    </div>
    <div class="col">
        <label>VALOR NETO</label>
        <input type="text" class="form-control" id="neto_arriendo" name="neto_arriendo">
    </div>
    <div class="col">
        <label>IVA</label>
        <input type="text" class="form-control" id="iva_arriendo" name="iva_arriendo">
    </div>
    <div class="col">
        <label>FECHA DE DEVOLUCION ESTIMADA</label>
        <input type="text" class="form-control" id="fecha_dev_estimada" name="fecha_dev_estimada">
    </div>
    <div class="col">
        <label>FECHA DE DEVOLUCION REAL</label>
        <input type="text" class="form-control" id="fecha_dev_real" name="fecha_dev_real">
    </div>
    <br />
    <div class="btn-group">
        <div class="col">
            <button type="button" class="btn btn-block bg-gradient-danger btn-sm">Borrar</button>
        </div> &nbsp;&nbsp;&nbsp;&nbsp; <div class="col"> <button type="submit" class="btn btn-block bg-gradient-success btn-sm">Crear</button></div>
    </div>

</div>
