@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-wrapper">

    <h1>

        Administrar Arriendos

    </h1>



    <h3>Mostrar Libros Arrendados</h3>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>NÚMERO ARRIENDO</th>
                <th>FECHA ARRIENDO</th>
                <th>RUT CLIENTE</th>
                <th>NUMERO BOLETA</th>
                <th>NÚMERO SERIE</th>
                <th>ISBN</th>
                <th>RUT TRABAJADOR</th>
                <th>MULTA</th>
                <th>VALOR ARRIENDO</th>
                <th>IVA</th>
                <th>FECHA ESTIMADA DEVOLUCION</th>
                <th>FECHA REAL DEVOLUCION</th>
                
            </tr>
        </thead>
    </table>
</div>