@page
@{
}

<div class="content-wrapper">
    <section class="content-header">

        <h1>

            Administrar Clientes

        </h1>

        <br />


        <ol class="breadcrumb">


            <li class="active">Crear Cliente </li>

        </ol>

    </section>

    <br />

    <div class="box-body">

        <h6 class="display-6"></h6>


        <br />


        <div class="col">
            <label>Ingrese el Rut</label>
            <input type="text" class="form-control" name="isbn" />

        </div>

        <div class="col">
            <label>Ingrese Nombres</label>
            <input type="text" class="form-control" name="codigo_editorial" placeholder="ID" value="Auto" required="">

        </div>

        <div class="col">

            <label>Ingrese Apellido Paterno</label>
            <input type="text" class="form-control" name="titulo" placeholder="ID" value="Auto" required="">

        </div>

        <div class="col">
            <label>Ingresar Materno</label>
            <input type="text" class="form-control" name="editorial" placeholder="ID" value="Auto" required="">
        </div>
        <div class="col">
            <label>Fecha de Nacimiento</label>
            <input type="text" class="form-control" name="id" placeholder="ID" value="Auto" required="">
        </div>

    </div>
    <br> <br />
    <div class="btn-group">
        <div class="col">
            <button type="button" class="btn btn-block bg-gradient-danger btn-sm">Borrar</button>
        </div> &nbsp;&nbsp;&nbsp;&nbsp; <div class="col"> <button type="button" class="btn btn-block bg-gradient-success btn-sm">Crear</button></div>


    </div>
</div>
